
@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Employee";
}

<h1>Employee</h1>

//dependent
@await Html.PartialAsync("_RenderEmployee",Model)



// this independent Component
@await Component.InvokeAsync("Person")


