
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*@{ 
    Layout = "~/Views/Shared/_Layout1.cshtml";
}*@
<table>
    @for (int i = 1; i <= 10; i++)
    {
        <tr>
            <td>@Model</td>
            <td>*</td>
            <td>@i</td>
            <td>=</td>
            <td>@(Model * i)</td>
        </tr>
    }
</table>