@model List<ASPCoreAppUsingMVC.Models.Person>

<table>
    <tr>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.FirstName.
            </td>
            <td>
                @item.LastName
            </td>
        </tr>
    }
</table>