@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="@Url.RouteUrl("privacy-route")">Goto About</a><br />
    <a href="/privacy">Goto About</a><br />
    <a asp-controller="Home" asp-action="privacy">Goto About</a><br />
</div>
