
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="post" action="/Math/Index">

    V1 : <input type="number" name="n1" value="" />
    V2: <input type="number" name="n2" />
    <input type="submit" value="Submit" />
</form>
<br />


Result @Model

